Options -Indexes

<FilesMatch "^\.">
    Require all denied
</FilesMatch>

<FilesMatch "(?i)\.(env|json|lock|md|xml)$">
    Require all denied
</FilesMatch>

<If "%{REQUEST_URI} =~ m#^/(src|vendor)/#">
    Require all denied
</If>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L,QSA]
</IfModule>
